form {
    display: flex;
    flex-direction: column;
    width: 800px;    
}

button {
    margin: 20px 15px 0px 0px;
}

.mat-form-field {
    margin: 10px ;
}

.mat-card-title {
    font-size: 1rem!important;
}
