.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.title-control {
    margin: 12px;
    color: yellow;
    font-size: 1.1rem;
    font-style: italic;
}