<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true"fixedTopGap=64>
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons" matTooltip="Início">
                    home
                </i>
            </a>
            <a mat-list-item routerLink="/finances/create">
                <i class="material-icons" matTooltip="Cadastro">
                    description
                </i>
            </a>            
            <a mat-list-item routerLink="/finances">
                <i class="material-icons" matTooltip="Pesquisa">
                    search
                </i>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
