.mat-list-item {
    font-size: 0.6rem;
    margin-top: 5px;
}

.toggle-nome {
    color: #dbb81d;
}

.toggle-valor {
    font-size: 0.8rem;
}

.table-resultado {
    width: 100%;
    border-collapse:separate;
    border-spacing: 10px 5px;    
}

th, td {
    font-size: 0.6rem;
}

.button-pesquisa {
    width: 30px!important;
    min-width: unset!important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mat-card-title {
    font-size: 1rem!important;
}

.mat-form-field {
    font-size: 0.8rem!important;
    margin-right: 30px;
}

.datas {
    width: 60px;
}

.tags {
    width: 280px;
       font-size: 0.8rem!important;
}

.button-nota {
    font-size: 0.6rem;
    width: 30px!important;
    min-width: unset!important;
    height: 15px!important;
    min-height: unset!important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.edit > i {
    margin-right: 5px;
    color: #dbb81d;
    font-size: 1rem;  
}

.add > i {
    margin-right: 5px;    
    color: #3f51b5;
    font-size: 1rem;      
}

.delete > i {
    margin-right: 5px;
    color: #ca182a;
    font-size: 1rem;      
}
